<!DOCTYPE html>
<html>
<head>
  <title>TheScmid</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>  
  <%= csrf_meta_tags %>  

  <script> 
    // var require = {baseUrl: '/assets/'}; 
  </script>

  <%#= javascript_include_tag 'require', 'data-main' => "main.js" %>
  <%#= javascript_include_tag 'require', 'data-main' => '/assets/main'%>
  <%= yield :header %>
  <script> window.jsonData = <%= yield :json_data || 0 %>; </script>
</head>
<body>

<%= yield %>

</body>
</html>
